# double_lstm_with_unstack

In [1]:
from draco.demo import load_demo

target_times, readings = load_demo()

In [2]:
pipeline_name = 'double_lstm_with_unstack'

In [3]:
from draco.pipeline import DracoPipeline

pipeline = DracoPipeline(pipeline_name)

In [4]:
pipeline.template['primitives']

['mlblocks.MLPipeline',
 'pandas.DataFrame.pop',
 'pandas.DataFrame.pop',
 'sklearn.impute.SimpleImputer',
 'sklearn.preprocessing.MinMaxScaler',
 'pandas.DataFrame',
 'pandas.DataFrame.set',
 'pandas.DataFrame.set',
 'mlprimitives.custom.timeseries_preprocessing.cutoff_window_sequences',
 'keras.Sequential.DoubleLSTMTimeSeriesClassifier']

# Step by Step execution

## Input Data

In [5]:
readings.head()

  turbine_id signal_id  timestamp  value
0       T001       S01 2013-01-10  323.0
1       T001       S02 2013-01-10  320.0
2       T001       S03 2013-01-10  284.0
3       T001       S04 2013-01-10  348.0
4       T001       S05 2013-01-10  273.0

In [6]:
target_times.head()

  turbine_id cutoff_time  target
0       T001  2013-01-12       0
1       T001  2013-01-13       0
2       T001  2013-01-14       0
3       T001  2013-01-15       1
4       T001  2013-01-16       0

## Data Preparation (part of Draco Pipeline)

* Input: target_times, readings, turbines
* Output: X, y, readings, turbines
* Effect: target_times has been split into X and y

## mlblocks.MLPipeline

### pandas.DataFrame.resample

* Input: readings
* Output: readings (resampled)
* Effect: readings have been resampled to the indicated resample rule and turbine_id,
  signal_id and timestamp have been set as a multi-index
  
### pandas.DataFrame.unstack

* Input: readings (resampled)
* Output: readings (unstacked)
* Effect: readings have been unstacked

In [7]:
context = pipeline.fit(target_times, readings, output_=0)

In [8]:
context.keys()

dict_keys(['readings', 'turbines', 'X', 'y'])

In [9]:
context['readings'].head()

,turbine_id,timestamp,value_S01,value_S02,value_S03,value_S04,value_S05,value_S06,value_S07,value_S08,...,value_S17,value_S18,value_S19,value_S20,value_S21,value_S22,value_S23,value_S24,value_S25,value_S26
0,T001,2013-01-10 00:00:00,323.0,320.0,284.0,348.0,273.0,342.0,280.0,3197842.0,...,11.7,3131020.0,55.0,55.0,47.0,58.0,45.0,58.0,47.0,356.0
1,T001,2013-01-10 00:10:00,346.0,384.0,367.0,411.0,331.0,360.0,249.0,3197900.0,...,10.2,3131420.0,58.0,63.0,62.0,67.0,55.0,61.0,42.0,400.0
2,T001,2013-01-10 00:20:00,407.0,363.0,407.0,393.0,275.0,335.0,270.0,3197968.0,...,9.5,3131822.0,68.0,61.0,67.0,66.0,46.0,55.0,45.0,402.0
3,T001,2013-01-10 00:30:00,257.0,307.0,315.0,361.0,317.0,354.0,271.0,3198011.0,...,10.5,3132179.0,43.0,51.0,53.0,62.0,53.0,60.0,45.0,357.0
4,T001,2013-01-10 00:40:00,267.0,309.0,314.0,355.0,262.0,246.0,212.0,3198056.0,...,9.6,3132501.0,45.0,51.0,54.0,59.0,43.0,41.0,36.0,322.0

## pandas.DataFrame.pop

* Input: readings (unstacked)
* Output: readings (without turbine_id), turbine_id
* Effect: turbine_id has been popped from readings

In [10]:
step = 1
context = pipeline.fit(**context, output_=step, start_=step)

In [11]:
context.keys()

dict_keys(['readings', 'turbines', 'X', 'y', 'turbine_id'])

In [12]:
context['turbine_id'].head()

0    T001
1    T001
2    T001
3    T001
4    T001
Name: turbine_id, dtype: object

In [13]:
context['readings'].head()

,timestamp,value_S01,value_S02,value_S03,value_S04,value_S05,value_S06,value_S07,value_S08,value_S09,...,value_S17,value_S18,value_S19,value_S20,value_S21,value_S22,value_S23,value_S24,value_S25,value_S26
0,2013-01-10 00:00:00,323.0,320.0,284.0,348.0,273.0,342.0,280.0,3197842.0,695000.0,...,11.7,3131020.0,55.0,55.0,47.0,58.0,45.0,58.0,47.0,356.0
1,2013-01-10 00:10:00,346.0,384.0,367.0,411.0,331.0,360.0,249.0,3197900.0,695063.0,...,10.2,3131420.0,58.0,63.0,62.0,67.0,55.0,61.0,42.0,400.0
2,2013-01-10 00:20:00,407.0,363.0,407.0,393.0,275.0,335.0,270.0,3197968.0,695124.0,...,9.5,3131822.0,68.0,61.0,67.0,66.0,46.0,55.0,45.0,402.0
3,2013-01-10 00:30:00,257.0,307.0,315.0,361.0,317.0,354.0,271.0,3198011.0,695175.0,...,10.5,3132179.0,43.0,51.0,53.0,62.0,53.0,60.0,45.0,357.0
4,2013-01-10 00:40:00,267.0,309.0,314.0,355.0,262.0,246.0,212.0,3198056.0,695226.0,...,9.6,3132501.0,45.0,51.0,54.0,59.0,43.0,41.0,36.0,322.0

## pandas.DataFrame.pop

* Input: readings (without turbine_id)
* Output: readings (without timestamp), timestamp
* Effect: timestamp has been popped from readings

In [14]:
step = 2
context = pipeline.fit(**context, output_=step, start_=step)

In [15]:
context.keys()

dict_keys(['readings', 'turbines', 'turbine_id', 'X', 'y', 'timestamp'])

In [16]:
context['timestamp'].head()

0   2013-01-10 00:00:00
1   2013-01-10 00:10:00
2   2013-01-10 00:20:00
3   2013-01-10 00:30:00
4   2013-01-10 00:40:00
Name: timestamp, dtype: datetime64[ns]

In [17]:
context['readings'].head()

,value_S01,value_S02,value_S03,value_S04,value_S05,value_S06,value_S07,value_S08,value_S09,value_S10,...,value_S17,value_S18,value_S19,value_S20,value_S21,value_S22,value_S23,value_S24,value_S25,value_S26
0,323.0,320.0,284.0,348.0,273.0,342.0,280.0,3197842.0,695000.0,3348234.0,...,11.7,3131020.0,55.0,55.0,47.0,58.0,45.0,58.0,47.0,356.0
1,346.0,384.0,367.0,411.0,331.0,360.0,249.0,3197900.0,695063.0,3348296.0,...,10.2,3131420.0,58.0,63.0,62.0,67.0,55.0,61.0,42.0,400.0
2,407.0,363.0,407.0,393.0,275.0,335.0,270.0,3197968.0,695124.0,3348363.0,...,9.5,3131822.0,68.0,61.0,67.0,66.0,46.0,55.0,45.0,402.0
3,257.0,307.0,315.0,361.0,317.0,354.0,271.0,3198011.0,695175.0,3348416.0,...,10.5,3132179.0,43.0,51.0,53.0,62.0,53.0,60.0,45.0,357.0
4,267.0,309.0,314.0,355.0,262.0,246.0,212.0,3198056.0,695226.0,3348470.0,...,9.6,3132501.0,45.0,51.0,54.0,59.0,43.0,41.0,36.0,322.0

## sklearn.impute.SimpleImputer

* Input: readings (unstacked, no turbine_id, no timestamp)
* Output: readings (imputed, numpy array)
* Effect: readings have been imputed and converted to numpy array

In [18]:
step = 3
context = pipeline.fit(**context, output_=step, start_=step)

In [19]:
context.keys()

dict_keys(['readings', 'turbines', 'turbine_id', 'timestamp', 'X', 'y'])

In [20]:
context['readings'][0:5]

array([[3.230000e+02, 3.200000e+02, 2.840000e+02, 3.480000e+02,
        2.730000e+02, 3.420000e+02, 2.800000e+02, 3.197842e+06,
        6.950000e+05, 3.348234e+06, 3.436762e+06, 3.322362e+06,
        3.357952e+06, 3.223797e+06, 8.300000e+00, 6.000000e+00,
        1.170000e+01, 3.131020e+06, 5.500000e+01, 5.500000e+01,
        4.700000e+01, 5.800000e+01, 4.500000e+01, 5.800000e+01,
        4.700000e+01, 3.560000e+02],
       [3.460000e+02, 3.840000e+02, 3.670000e+02, 4.110000e+02,
        3.310000e+02, 3.600000e+02, 2.490000e+02, 3.197900e+06,
        6.950630e+05, 3.348296e+06, 3.436829e+06, 3.322417e+06,
        3.358013e+06, 3.223839e+06, 7.600000e+00, 5.000000e+00,
        1.020000e+01, 3.131420e+06, 5.800000e+01, 6.300000e+01,
        6.200000e+01, 6.700000e+01, 5.500000e+01, 6.100000e+01,
        4.200000e+01, 4.000000e+02],
       [4.070000e+02, 3.630000e+02, 4.070000e+02, 3.930000e+02,
        2.750000e+02, 3.350000e+02, 2.700000e+02, 3.197968e+06,
        6.951240e+05, 3.348363e+06, 3.436895e+06, 3.322463e+06,
        3.358068e+06, 3.223884e+06, 7.800000e+00, 5.700000e+00,
        9.500000e+00, 3.131822e+06, 6.800000e+01, 6.100000e+01,
        6.700000e+01, 6.600000e+01, 4.600000e+01, 5.500000e+01,
        4.500000e+01, 4.020000e+02],
       [2.570000e+02, 3.070000e+02, 3.150000e+02, 3.610000e+02,
        3.170000e+02, 3.540000e+02, 2.710000e+02, 3.198011e+06,
        6.951750e+05, 3.348416e+06, 3.436957e+06, 3.322516e+06,
        3.358128e+06, 3.223929e+06, 8.600000e+00, 6.600000e+00,
        1.050000e+01, 3.132179e+06, 4.300000e+01, 5.100000e+01,
        5.300000e+01, 6.200000e+01, 5.300000e+01, 6.000000e+01,
        4.500000e+01, 3.570000e+02],
       [2.670000e+02, 3.090000e+02, 3.140000e+02, 3.550000e+02,
        2.620000e+02, 2.460000e+02, 2.120000e+02, 3.198056e+06,
        6.952260e+05, 3.348470e+06, 3.437016e+06, 3.322559e+06,
        3.358169e+06, 3.223965e+06, 7.500000e+00, 5.900000e+00,
        9.600000e+00, 3.132501e+06, 4.500000e+01, 5.100000e+01,
        5.400000e+01, 5.900000e+01, 4.300000e+01, 4.100000e+01,
        3.600000e+01, 3.220000e+02]])

## sklearn.preprocessing.MinMaxScaler

* Input: (imputed, array)
* Output: readings (scaled, array)
* Effect: readings have been scaled to [-1, 1] range

In [21]:
step = 4
context = pipeline.fit(**context, output_=step, start_=step)

In [22]:
context.keys()

dict_keys(['readings', 'turbines', 'turbine_id', 'timestamp', 'X', 'y'])

In [23]:
context['readings'][0:5]

array([[-0.23563892, -0.24267292, -0.3286385 , -0.17702227, -0.35287222,
        -0.19248826, -0.3317757 , -1.        , -1.        , -1.        ,
        -1.        , -1.        , -1.        , -1.        , -0.11702128,
        -0.24050633, -0.25714286, -0.37378787, -0.22758621, -0.22758621,
        -0.31972789, -0.1862069 , -0.36986301, -0.1862069 , -0.33793103,
        -0.26141079],
       [-0.18171161, -0.0926143 , -0.13380282, -0.02930832, -0.21688159,
        -0.15023474, -0.40420561, -0.99995911, -0.99995779, -0.99995941,
        -0.99995718, -0.99996326, -0.99996042, -0.99997164, -0.19148936,
        -0.36708861, -0.35238095, -0.37370786, -0.1862069 , -0.11724138,
        -0.11564626, -0.06206897, -0.23287671, -0.14482759, -0.40689655,
        -0.17012448],
       [-0.03868699, -0.14185229, -0.0399061 , -0.07151231, -0.34818288,
        -0.20892019, -0.35514019, -0.99991116, -0.99991693, -0.99991555,
        -0.999915  , -0.99993254, -0.99992474, -0.99994125, -0.17021277,
        -0.27848101, -0.3968254 , -0.37362746, -0.04827586, -0.14482759,
        -0.04761905, -0.07586207, -0.35616438, -0.22758621, -0.36551724,
        -0.1659751 ],
       [-0.39038687, -0.27315358, -0.25586854, -0.14654162, -0.24970692,
        -0.16431925, -0.35280374, -0.99988085, -0.99988276, -0.99988086,
        -0.99987538, -0.99989714, -0.99988581, -0.99991086, -0.08510638,
        -0.16455696, -0.33333333, -0.37355606, -0.39310345, -0.28275862,
        -0.23809524, -0.13103448, -0.26027397, -0.15862069, -0.36551724,
        -0.2593361 ],
       [-0.36694021, -0.26846424, -0.25821596, -0.16060961, -0.37866354,
        -0.41784038, -0.49065421, -0.99984912, -0.99984859, -0.99984551,
        -0.99983767, -0.99986841, -0.99985921, -0.99988655, -0.20212766,
        -0.25316456, -0.39047619, -0.37349166, -0.36551724, -0.28275862,
        -0.2244898 , -0.17241379, -0.39726027, -0.42068966, -0.48965517,
        -0.33195021]])

## pandas.DataFrame

* Input: readings (scaled, array)
* Output: readings (dataframe)
* Effect: readings have been converted into a dataframe

In [24]:
step = 5
context = pipeline.fit(**context, output_=step, start_=step)

In [25]:
context.keys()

dict_keys(['readings', 'turbines', 'turbine_id', 'timestamp', 'X', 'y'])

In [26]:
context['readings'].head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,-0.235639,-0.242673,-0.328638,-0.177022,-0.352872,-0.192488,-0.331776,-1.000000,-1.000000,-1.000000,...,-0.257143,-0.373788,-0.227586,-0.227586,-0.319728,-0.186207,-0.369863,-0.186207,-0.337931,-0.261411
1,-0.181712,-0.092614,-0.133803,-0.029308,-0.216882,-0.150235,-0.404206,-0.999959,-0.999958,-0.999959,...,-0.352381,-0.373708,-0.186207,-0.117241,-0.115646,-0.062069,-0.232877,-0.144828,-0.406897,-0.170124
2,-0.038687,-0.141852,-0.039906,-0.071512,-0.348183,-0.208920,-0.355140,-0.999911,-0.999917,-0.999916,...,-0.396825,-0.373627,-0.048276,-0.144828,-0.047619,-0.075862,-0.356164,-0.227586,-0.365517,-0.165975
3,-0.390387,-0.273154,-0.255869,-0.146542,-0.249707,-0.164319,-0.352804,-0.999881,-0.999883,-0.999881,...,-0.333333,-0.373556,-0.393103,-0.282759,-0.238095,-0.131034,-0.260274,-0.158621,-0.365517,-0.259336
4,-0.366940,-0.268464,-0.258216,-0.160610,-0.378664,-0.417840,-0.490654,-0.999849,-0.999849,-0.999846,...,-0.390476,-0.373492,-0.365517,-0.282759,-0.224490,-0.172414,-0.397260,-0.420690,-0.489655,-0.331950

## pandas.DataFrame.set

* Input: readings (dataframe)
* Output: readings (dataframe with turbine_id)
* Effect: turbine_id has been set as a readings column

In [27]:
step = 6
context = pipeline.fit(**context, output_=step, start_=step)

In [28]:
context.keys()

dict_keys(['readings', 'turbines', 'turbine_id', 'timestamp', 'X', 'y'])

In [29]:
context['readings'].head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,turbine_id
0,-0.235639,-0.242673,-0.328638,-0.177022,-0.352872,-0.192488,-0.331776,-1.000000,-1.000000,-1.000000,...,-0.373788,-0.227586,-0.227586,-0.319728,-0.186207,-0.369863,-0.186207,-0.337931,-0.261411,T001
1,-0.181712,-0.092614,-0.133803,-0.029308,-0.216882,-0.150235,-0.404206,-0.999959,-0.999958,-0.999959,...,-0.373708,-0.186207,-0.117241,-0.115646,-0.062069,-0.232877,-0.144828,-0.406897,-0.170124,T001
2,-0.038687,-0.141852,-0.039906,-0.071512,-0.348183,-0.208920,-0.355140,-0.999911,-0.999917,-0.999916,...,-0.373627,-0.048276,-0.144828,-0.047619,-0.075862,-0.356164,-0.227586,-0.365517,-0.165975,T001
3,-0.390387,-0.273154,-0.255869,-0.146542,-0.249707,-0.164319,-0.352804,-0.999881,-0.999883,-0.999881,...,-0.373556,-0.393103,-0.282759,-0.238095,-0.131034,-0.260274,-0.158621,-0.365517,-0.259336,T001
4,-0.366940,-0.268464,-0.258216,-0.160610,-0.378664,-0.417840,-0.490654,-0.999849,-0.999849,-0.999846,...,-0.373492,-0.365517,-0.282759,-0.224490,-0.172414,-0.397260,-0.420690,-0.489655,-0.331950,T001

## pandas.DataFrame.set

* Input: readings (dataframe with turbine_id)
* Output: readings (dataframe with turbine_id and timestamp)
* Effect: timestamp has been set as a readings column

In [30]:
step = 7
context = pipeline.fit(**context, output_=step, start_=step)

In [31]:
context.keys()

dict_keys(['readings', 'turbines', 'turbine_id', 'timestamp', 'X', 'y'])

In [32]:
context['readings'].head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,turbine_id,timestamp
0,-0.235639,-0.242673,-0.328638,-0.177022,-0.352872,-0.192488,-0.331776,-1.000000,-1.000000,-1.000000,...,-0.227586,-0.227586,-0.319728,-0.186207,-0.369863,-0.186207,-0.337931,-0.261411,T001,2013-01-10 00:00:00
1,-0.181712,-0.092614,-0.133803,-0.029308,-0.216882,-0.150235,-0.404206,-0.999959,-0.999958,-0.999959,...,-0.186207,-0.117241,-0.115646,-0.062069,-0.232877,-0.144828,-0.406897,-0.170124,T001,2013-01-10 00:10:00
2,-0.038687,-0.141852,-0.039906,-0.071512,-0.348183,-0.208920,-0.355140,-0.999911,-0.999917,-0.999916,...,-0.048276,-0.144828,-0.047619,-0.075862,-0.356164,-0.227586,-0.365517,-0.165975,T001,2013-01-10 00:20:00
3,-0.390387,-0.273154,-0.255869,-0.146542,-0.249707,-0.164319,-0.352804,-0.999881,-0.999883,-0.999881,...,-0.393103,-0.282759,-0.238095,-0.131034,-0.260274,-0.158621,-0.365517,-0.259336,T001,2013-01-10 00:30:00
4,-0.366940,-0.268464,-0.258216,-0.160610,-0.378664,-0.417840,-0.490654,-0.999849,-0.999849,-0.999846,...,-0.365517,-0.282759,-0.224490,-0.172414,-0.397260,-0.420690,-0.489655,-0.331950,T001,2013-01-10 00:40:00

## mlprimitives.custom.timeseries_preprocessing.cutoff_window_sequences

* Input: X, readings (dataframe with turbine_id and timestamp)
* Output: X
* Effect: X has been converted to a 3d numpy array that contains 1 matrix of shape
  (window_size x num_signals) for each one of the target times.

In [33]:
pipeline._pipeline.get_hyperparameters()[
    'mlprimitives.custom.timeseries_preprocessing.cutoff_window_sequences#1']

{'window_size': 24, 'cutoff_time': 'cutoff_time', 'time_index': 'timestamp'}

In [34]:
step = 8
context = pipeline.fit(**context, output_=step, start_=step)

In [35]:
context.keys()

dict_keys(['readings', 'turbines', 'turbine_id', 'timestamp', 'X', 'y'])

In [36]:
context['readings'].shape

(51121, 28)

In [37]:
context['y'].shape

(353,)

In [38]:
context['X'].shape

(353, 24, 26)

In [39]:
context['X'][0]

array([[-0.66002345, -0.57327081, -0.64084507, -0.57796014, -0.6014068 ,
        -0.56103286, -0.55140187, -0.9928135 , -0.99291267, -0.99315058,
        -0.99304288, -0.99346346, -0.99352632, -0.99395333, -0.42553191,
        -0.41772152, -0.58730159, -0.35996294, -0.66896552, -0.57241379,
        -0.61904762, -0.5862069 , -0.60273973, -0.55862069, -0.55862069,
        -0.59751037],
       [-0.2989449 , -0.38569754, -0.48591549, -0.47713951, -0.66705744,
        -0.5915493 , -0.77336449, -0.99278389, -0.9928852 , -0.99312701,
        -0.99301988, -0.9934481 , -0.9935075 , -0.9939459 , -0.39361702,
        -0.40506329, -0.54285714, -0.35992014, -0.40689655, -0.42068966,
        -0.46938776, -0.48965517, -0.67123288, -0.5862069 , -0.83448276,
        -0.5560166 ],
       [-0.33645955, -0.40679953, -0.39906103, -0.38569754, -0.56154748,
        -0.43192488, -0.45560748, -0.99275498, -0.9928584 , -0.99310017,
        -0.99299431, -0.99342739, -0.99348349, -0.99392294, -0.29787234,
        -0.3164557 , -0.49206349, -0.35986854, -0.42068966, -0.43448276,
        -0.40136054, -0.43448276, -0.56164384, -0.47586207, -0.51724138,
        -0.46473029],
       [-0.36928488, -0.41148886, -0.51173709, -0.47010551, -0.54982415,
        -0.48122066, -0.51869159, -0.99272467, -0.9928316 , -0.99307791,
        -0.99297067, -0.99340669, -0.99346079, -0.99390066, -0.29787234,
        -0.35443038, -0.49206349, -0.35981854, -0.39310345, -0.43448276,
        -0.49659864, -0.47586207, -0.56164384, -0.50344828, -0.53103448,
        -0.4813278 ],
       [-0.20750293, -0.35287222, -0.37089202, -0.2989449 , -0.32473623,
        -0.37793427, -0.45794393, -0.99269435, -0.99280347, -0.99305173,
        -0.99294447, -0.9933793 , -0.99343419, -0.9938777 , -0.32978723,
        -0.39240506, -0.49206349, -0.35976314, -0.39310345, -0.40689655,
        -0.41496599, -0.42068966, -0.42465753, -0.42068966, -0.51724138,
        -0.4253112 ],
       [-0.55685815, -0.60375147, -0.64084507, -0.54513482, -0.55685815,
        -0.58215962, -0.63785047, -0.99267179, -0.99278404, -0.99303471,
        -0.99292338, -0.99335793, -0.99341472, -0.99386014, -0.29787234,
        -0.34177215, -0.51746032, -0.35972353, -0.54482759, -0.5862069 ,
        -0.60544218, -0.53103448, -0.54794521, -0.57241379, -0.62758621,
        -0.58921162],
       [-0.66705744, -0.67643611, -0.69014085, -0.64361079, -0.74443142,
        -0.7370892 , -0.7546729 , -0.99265487, -0.99276863, -0.99302096,
        -0.9929074 , -0.99334657, -0.9934024 , -0.99384934, -0.39361702,
        -0.48101266, -0.51746032, -0.35969533, -0.65517241, -0.66896552,
        -0.67346939, -0.64137931, -0.75342466, -0.72413793, -0.76551724,
        -0.70746888],
       [-0.53341149, -0.60375147, -0.63849765, -0.61547479, -0.71395076,
        -0.70187793, -0.72897196, -0.99263231, -0.99275054, -0.99300394,
        -0.99289014, -0.99333255, -0.99338877, -0.9938365 , -0.38297872,
        -0.37974684, -0.54920635, -0.35966173, -0.54482759, -0.6137931 ,
        -0.60544218, -0.6137931 , -0.69863014, -0.69655172, -0.72413793,
        -0.65145228],
       [-0.44196952, -0.4021102 , -0.49295775, -0.49355217, -0.62719812,
        -0.62676056, -0.71728972, -0.99260481, -0.99272173, -0.99298103,
        -0.99286777, -0.99331518, -0.9933719 , -0.99382367, -0.38297872,
        -0.4556962 , -0.54285714, -0.35961793, -0.44827586, -0.39310345,
        -0.4829932 , -0.50344828, -0.63013699, -0.62758621, -0.72413793,
        -0.54564315],
       [-0.46307151, -0.38100821, -0.35446009, -0.44900352, -0.50293083,
        -0.4741784 , -0.63317757, -0.99257731, -0.99269226, -0.99295157,
        -0.99284285, -0.99329247, -0.9933479 , -0.99380612, -0.28723404,
        -0.3164557 , -0.47301587, -0.35956633, -0.44827586, -0.37931034,
        -0.34693878, -0.44827586, -0.52054795, -0.47586207, -0.62758621,
        -0.46473029],
       [-0.26611958, -0.26611958, -0.29107981, -0.34349355, -0.3950762 ,
        -0.29577465, -0.43925234, -0.9925477 , -0.99266278, -0.99292211,
        -0.99281601, -0.99326575, -0.99331805, -0.99378316, -0.28723404,
        -0.39240506, -0.46031746, -0.35950873, -0.40689655, -0.37931034,
        -0.34693878, -0.40689655, -0.43835616, -0.35172414, -0.51724138,
        -0.40248963],
       [-0.46307151, -0.35990621, -0.43192488, -0.36928488, -0.47245018,
        -0.44600939, -0.41121495, -0.99252091, -0.9926333 , -0.99289592,
        -0.99278789, -0.99324104, -0.99329275, -0.99375547, -0.28723404,
        -0.43037975, -0.46666667, -0.35945292, -0.46206897, -0.37931034,
        -0.41496599, -0.37931034, -0.47945205, -0.44827586, -0.42068966,
        -0.42116183],
       [-0.44431419, -0.4021102 , -0.38732394, -0.3059789 , -0.35990621,
        -0.28403756, -0.40420561, -0.99249341, -0.99260583, -0.99287039,
        -0.99275913, -0.99321298, -0.99326226, -0.99372846, -0.30851064,
        -0.4556962 , -0.46031746, -0.35939572, -0.44827586, -0.42068966,
        -0.42857143, -0.36551724, -0.4109589 , -0.33793103, -0.43448276,
        -0.406639  ],
       [-0.43962485, -0.36459555, -0.35211268, -0.35052755, -0.44665885,
        -0.34741784, -0.44859813, -0.99246592, -0.99257703, -0.99284028,
        -0.99273037, -0.99318693, -0.99323176, -0.99370279, -0.28723404,
        -0.36708861, -0.48571429, -0.35933712, -0.44827586, -0.39310345,
        -0.33333333, -0.36551724, -0.45205479, -0.33793103, -0.46206897,
        -0.39211618],
       [-0.2028136 , -0.25439625, -0.30751174, -0.3130129 , -0.37631887,
        -0.3685446 , -0.46495327, -0.99243067, -0.99254152, -0.9928082 ,
        -0.99269906, -0.99315821, -0.99320322, -0.99367781, -0.27659574,
        -0.32911392, -0.47301587, -0.35927332, -0.29655172, -0.25517241,
        -0.29251701, -0.31034483, -0.39726027, -0.37931034, -0.47586207,
        -0.33817427],
       [-0.23329426, -0.27080891, -0.31924883, -0.24736225, -0.35521688,
        -0.33098592, -0.4182243 , -0.99239753, -0.99250668, -0.99277743,
        -0.99266518, -0.99312815, -0.99317272, -0.99365012, -0.26595745,
        -0.40506329, -0.46666667, -0.35920811, -0.33793103, -0.26896552,
        -0.31972789, -0.25517241, -0.36986301, -0.33793103, -0.42068966,
        -0.32365145],
       [-0.12778429, -0.11137163, -0.10798122, -0.05275498, -0.25439625,
        -0.23474178, -0.28271028, -0.99236228, -0.99247117, -0.99274143,
        -0.99263131, -0.99309876, -0.99314028, -0.99362108, -0.24468085,
        -0.32911392, -0.43492063, -0.35914011, -0.29655172, -0.25517241,
        -0.21088435, -0.25517241, -0.38356164, -0.29655172, -0.39310345,
        -0.29460581],
       [-0.14185229, -0.2028136 , -0.31690141, -0.17467761, -0.24970692,
        -0.25117371, -0.37383178, -0.9923242 , -0.99243567, -0.99271066,
        -0.9925968 , -0.9930667 , -0.99310849, -0.99359204, -0.22340426,
        -0.3164557 , -0.41587302, -0.35907171, -0.24137931, -0.25517241,
        -0.31972789, -0.24137931, -0.32876712, -0.31034483, -0.39310345,
        -0.29045643],
       [-0.4021102 , -0.32708089, -0.33802817, -0.28018757, -0.3950762 ,
        -0.40140845, -0.48364486, -0.99229459, -0.99240284, -0.99268055,
        -0.99256421, -0.99303731, -0.99308059, -0.99356773, -0.25531915,
        -0.29113924, -0.40952381, -0.35901131, -0.40689655, -0.31034483,
        -0.33333333, -0.28275862, -0.38356164, -0.39310345, -0.48965517,
        -0.37344398],
       [-0.27549824, -0.3059789 , -0.37089202, -0.20046893, -0.34818288,
        -0.33802817, -0.42056075, -0.99225863, -0.99237068, -0.99265109,
        -0.99252778, -0.99300725, -0.99305075, -0.99354072, -0.28723404,
        -0.41772152, -0.48571429, -0.3589459 , -0.28275862, -0.32413793,
        -0.34693878, -0.2       , -0.36986301, -0.35172414, -0.43448276,
        -0.32157676],
       [-0.30832356, -0.3059789 , -0.3286385 , -0.31066823, -0.32473623,
        -0.34741784, -0.38785047, -0.99222479, -0.99233786, -0.99262032,
        -0.9924971 , -0.99297519, -0.9930209 , -0.99351168, -0.28723404,
        -0.3164557 , -0.47936508, -0.3588813 , -0.32413793, -0.31034483,
        -0.31972789, -0.32413793, -0.32876712, -0.35172414, -0.39310345,
        -0.32987552],
       [-0.33645955, -0.2098476 , -0.24413146, -0.2919109 , -0.41383353,
        -0.41079812, -0.46495327, -0.99219025, -0.99230168, -0.99258563,
        -0.99246579, -0.99294781, -0.99299365, -0.9934867 , -0.24468085,
        -0.29113924, -0.42857143, -0.3588177 , -0.31034483, -0.24137931,
        -0.23809524, -0.31034483, -0.42465753, -0.40689655, -0.47586207,
        -0.34024896],
       [-0.24267292, -0.15357562, -0.19248826, -0.13950762, -0.35052755,
        -0.30046948, -0.37616822, -0.99215358, -0.99226215, -0.99254831,
        -0.99242872, -0.99291708, -0.99296121, -0.99345766, -0.22340426,
        -0.25316456, -0.42857143, -0.3587457 , -0.26896552, -0.17241379,
        -0.18367347, -0.1862069 , -0.35616438, -0.29655172, -0.39310345,
        -0.25311203],
       [-0.2989449 , -0.26377491, -0.27699531, -0.15592028, -0.34583822,
        -0.34976526, -0.48831776, -0.99211763, -0.99222731, -0.99251493,
        -0.99239038, -0.99288636, -0.99293072, -0.99343267, -0.20212766,
        -0.24050633, -0.3968254 , -0.35867929, -0.28275862, -0.26896552,
        -0.26530612, -0.15862069, -0.35616438, -0.33793103, -0.47586207,
        -0.31120332]])

## keras.Sequential.DoubleLSTMTimeSeriesClassifier

* Input: X, y
* Output: 
* Effect: DoubleLSTM has been fitted.

In [40]:
step = 9
context = pipeline.fit(**context, output_=step, start_=step)

2022-01-18 05:32:48.464559: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN)to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-01-18 05:32:48.495873: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x7fba31d9b0c0 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2022-01-18 05:32:48.495892: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version